<div class="flex flex-col w-full h-full py-8 pl-8 pr-6">
  <div class="card-container">
    <div class="card-herder"> <breadcrumbs [items]="breadmenu"></breadcrumbs> </div>
  </div>
  <div class="mt-3 mb-6 text-2xl font-medium">
    Gestion des Utilisateurs
    <button nz-button nzType="primary" (click)="showModal()">Ajouter un utilisateur</button>
  </div>
  <nz-modal nzCancelText="Annuler" nzOkText="Valider" [(nzVisible)]="isVisible" nzTitle="Ajouter un nouvel utilisateur" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form nz-form [nzLayout]="'inline'">
          <nz-form-control nzErrorTip="Veillez entrer un nom">
              <input [(ngModel)]="username" name="username" class="form-control" placeholder="username" />
          </nz-form-control>
          <nz-form-control nzErrorTip="Addresse mail non valide">
            <input  [(ngModel)]="email" name="email" class="form-control mt-2" placeholder="addresse mail" />
        </nz-form-control>
        <nz-form-control nzErrorTip="Entrer le nom du projet">
          <input  [(ngModel)]="project_name" name="text" class="form-control mt-2" placeholder="nom du projet" />
        </nz-form-control>
        <nz-form-control nzErrorTip="Entrer le lien du profil">
          <input  [(ngModel)]="picture" name="text" class="form-control mt-2" placeholder="profil utilisateur" />
        </nz-form-control>
      </form>
    </ng-container>
  </nz-modal>
  <div class="container-body">
    <nz-table #basicTable [nzData]="allUser$" style="width: 100% !important;" nzNoResult="Aucun utilisateur disponible ...">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Username</th>
          <th>Project name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allUser$">
          <td><img [src]="data.avatarUrl" alt="user avatar"></td>
          <td>{{ data.name }}</td>
          <td>{{ data.projectId }}</td>
          <td>{{ data.status }}</td>
          <td>
            <button nz-button nzType="dashed" nzDanger>Retirer</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
