<aside class="navbarLeft">
    <div class="navbarLeft-content">
        <div class="logoLink"
             title="Jarvis by Atos">

        </div>

        <div *ngFor="let item of items"
             class="item">
            <div (click)="item.handler()"
                 nz-tooltip
                 [nzTooltipTitle]="item.tooltip"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <i class="text-xl text-white"
                   nz-icon
                   [nzType]="item.icon"
                   nzTheme="outline"></i>
            </div>
        </div>
        <div class="flex-auto"></div>
        <div class="item"
             *ngIf="authQuery.user$ | async as user">
            <div nz-tooltip
                 [nzTooltipTitle]="user.name"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <j-avatar class="flex"
                          [avatarUrl]="user.avatarUrl"
                          [size]="26">
                </j-avatar>
            </div>
        </div>
    </div>
</aside>

