.cards-content {
   display: flex;
   flex-wrap: wrap;
   margin-top: 3% !important;
   justify-content: space-around;
   card-reporting {
    margin-left: 3%;
   }
}


.activities {
  h4 {
    margin-top: 5%;
  }
}
